@import "config.scss";
@import "header.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: $font_family;
    background-color: #f8f8f8;

    .container {
        max-width: $max_width;
        margin: auto;
        padding: 25px;
        background-color: white;
    }
}
