{% macro university() %}
    <header class="umnhf" id="umnhf-h" role="banner">
        <div id="skipLinks"><a href="#main-nav">Main navigation</a><a href="#main-content">Main content</a></div>
        <div class="printer"><div class="left"></div><div class="right"><strong>University of Minnesota</strong><br />http://twin-cities.umn.edu/<br />612-625-5000</div></div>
        <div class="umnhf" id="umnhf-h-mast">
            <a class="umnhf" id="umnhf-h-logo" href="http://twin-cities.umn.edu/"><span>Go to the U of M home page</span></a>
            <ul class="umnhf" id="umnhf-h-ql">
                <li><a href="http://onestop.umn.edu/">One Stop</a></li>
                <li class="umnhf"><a href="https://www.myu.umn.edu/">MyU <span></span>: For Students, Faculty, and Staff</a></li>
            </ul>
            <button class="umnhf" id="umnhf-m-search">Search</button>
        </div>
        <form class="umnhf" id="umnhf-h-search" action="//search.umn.edu/tc/" method="get" title="Search Websites and People" role="search">
            <label class="umnhf" for="umnhf-h-st">Search</label>
            <input class="umnhf" id="umnhf-h-st" type="text" name="q" />
            <label class="umnhf" for="umnhf-h-sb">Submit search query</label>
            <input class="umnhf" id="umnhf-h-sb" type="submit" value="">
        </form>
        <a style="position: absolute; top: 5px; right: 5px; text-decoration: none; font-size: 2em;" href="javascript:(function() { document.getElementById('umnhf-h').style.display = 'none'; })()">&times;</a>
    </header>
{% endmacro %}

{% macro acmumn() %}
    <header class="acmh">
        <table>
            <tbody>
                <tr>
                    <td class="brand">
                        <a href="/" class="home">
                            <img class="logo" src="https://acm.umn.edu/acm-logo.png" />
                            <span class="smoltitle">ACM UMN</span>
                        </a>
                    </td>
                    <td class="links">
                        <a href="/about">About</a>
                        <a href="/events">Events</a>
                        <a href="/newsletters">Newsletters</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </header>
{% endmacro %}